#motto {
  font-weight: bold;
  text-align: center;
  color: orange;
}

.jumbotron {
  background-image: url(Images/us.jpg);
  background-size: cover;
}

.title {
  text-align: center;
  font-family: sans-serif;
  color: orange;
}
