#motto {
  font-weight: bold;
  text-align: center;
  color: orange;
}

.jumbotron {
  background-image: url(Images/us.jpg);
  background-size: cover;
  font-size: 500px;
}

.title {
  text-align: center;
  font-family: sans-serif;
  color: orange;
  width: i
}

.btn-twitter {
background: #00acee;
border-color: #009ad5;
}

.btn-facebook {
background: #4868ac;
border-color: #314776;
}

.btn-pinterest {
background: #b62f26;
border-color: #b62f26;
}

#social-buttons button {
color: white
}
